@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090B;
  --foreground: #FAFAFA;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #18181B;
}

::-webkit-scrollbar-thumb {
  background: #3F3F46;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525B;
}

.recharts-tooltip-wrapper {
  outline: none;
}
